group Main
    source https://api.nuget.org/v3/index.json
    storage:none
    lowest_matching: true
    nuget Elmish >= 4.0.0-beta-4
    nuget Fable.Mocha >= 2.9.1
    nuget Fable.SimpleJson
    nuget Feliz >= 2.0.0-prerelease-003
    nuget Feliz.UseListener
    nuget Fable.Elmish.React >= 4.0.0-beta-4

group Analyzers
source https://www.nuget.org/api/v2

nuget FSharp.Analyzers.Sample

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
